/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/images/barang/1592685146Ace_Hardware_Logo.png
public/images/user/Ace_Hardware_Logo.png
public/images/resize/1592685146Ace_Hardware_Logo.png
public/images/resize/1592693074dishub.png
public/images/barang/1592693074dishub.png

